<<<<<<< HEAD
/* General Styles */
=======
>>>>>>> c930df75ded7daafd7004ffc2e4e0e9a8bea8488
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    background-color: #f9f9f9;
}

header {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
    text-align: center;
}

/* Menu Grid */
.menu-grid {
=======
}
header {
    background-color: #340c00;
    color: white;
    padding: 1em;
    text-align: center;
}
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}
main {
    padding: 2em;
    text-align: center;
}
#products-container {
>>>>>>> c930df75ded7daafd7004ffc2e4e0e9a8bea8488
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
<<<<<<< HEAD
    margin-top: 20px;
}

.menu-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 15px;
    text-align: center;
}

.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.menu-item h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
}

.menu-item p {
    font-size: 1em;
    color: #555;
}

.menu-item button {
    margin-top: 10px;
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-item button:hover {
    background-color: #e74c3c;
=======
}
.product {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
>>>>>>> c930df75ded7daafd7004ffc2e4e0e9a8bea8488
}
